{% extends 'front/base.html.twig' %}

{% block body %}

<div class="container-fluid animate__animated animate__fadeIn delay-3">
    <div class="container pt-lg-5 text-center">

        <div class="py-5 ps-md-5 mx-auto text-start text-white">
            <h1>Mentions légales</h1>
            <br>
            <p>Vous êtes actuellement sur le https://momentfondantlindor.fr (ci-après le « Site ») de LINDT & SPRÜNGLI, qui est édité par :</p>

            <p>La société LINDT & SPRÜNGLI (ci-après « LINDT ») société par actions simplifiée au capital
social de 12.962.500 €, immatriculée sous le numéro 672 024 155 au RCS de Paris, dont le
siège social est situé au 5, boulevard de la Madeleine 75001 Paris et dont l’identifiant unique
est FR209640_01AOEL.</p>

            <p>
            Numéro de TVA : FR33672024155<br/>
            Téléphone : 01 58 62 36 36<br/>
            Email : Privacy.fra@lindt.com<br/><br/>
            La société LINDT se réserve le droit de modifier les présentes Mentions légales à tout moment,
            sans préavis, et à sa convenance.
            </p>

            <h3 class="text-gold">Directeur de la publication :</h3>
            <p>Olivier Hourcade<br/>
                Contact du Directeur de la publication : ohourcade@lindt.com</p>
            <br>
            <h3 class="text-gold">Hébergement :</h3>
            <p>Le Site est hébergé par la société OVH, société par actions simplifiée, au capital social de 10.174.560 €, immatriculée sous le numéro 424 761 419 au RCS de Lille, dont le siège social
est situé au 2, rue Kellermann 59100 Roubaix. Contact de l’hébergeur : 09 72 10 10 10</p>
        </div>

    </div>
</div>


{% endblock %}

{% block javascripts %}
{{ parent()}}
{% endblock %}
